::-webkit-scrollbar {
  width: 0px;
}


.navActive.active {
  font-weight:500;
  font-size: x-large;
  text-decoration-line: underline;
}

.offer-card {
  border: 2px solid #e2e8f0;
  transition: border-color 0.3s;

}

.offer-card:hover {
  border-color: #a0aec0;
  background-color: rgb(232, 249, 253);
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 300px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.bg-purple {
  background: linear-gradient(135deg, #7F57F1 0%, #8245E6 100%);
  color: white;
}

.counter {
  font-size: 36px;
  font-weight: bold;
}

.label {
  font-size: 18px;
  margin-top: 10px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .card {
      flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .card {
      flex-basis: calc(100% - 20px);
  }
}





@media (min-width: 768px) {
  .desktop-carousel-container .carousel-item-wrapper {
    display: flex;
    justify-content: space-between;
  }
}



/* Card and Cart animation  */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}



/* Sigup and login animation */
@keyframes dotspin {
  0% {
    transform: rotate(0deg) scale(1) opacity(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2) opacity(0.5);
  }
  100% {
    transform: rotate(360deg) scale(1) opacity(1);
  }
}

.dotspinner {
  border: 4px dotted rgba(0, 0, 0, 0.1); /* Change solid to dotted */
  border-top: 4px dotted #fff; /* Change solid to dotted */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}






