.navActive.active {
  font-weight:400;
  font-size: larger;
  text-decoration: underline;
}

.offer-card {
  border: 2px solid #e2e8f0;
  transition: border-color 0.3s;

}

.offer-card:hover {
  border-color: #a0aec0;
  background-color: rgb(232, 249, 253);
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 300px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.bg-purple {
  background: linear-gradient(135deg, #7F57F1 0%, #8245E6 100%);
  color: white;
}

.counter {
  font-size: 36px;
  font-weight: bold;
}

.label {
  font-size: 18px;
  margin-top: 10px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .card {
      flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .card {
      flex-basis: calc(100% - 20px);
  }
}





@media (min-width: 768px) {
  .desktop-carousel-container .carousel-item-wrapper {
    display: flex;
    justify-content: space-between;
  }
}


